<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <div class="header-content">
      <p><%= link_to root_path do %><i class="fa-solid fa-2x fa-igloo home-hover home"></i><% end %>| <i> Antoine CLAVEL </i></p>
      <div class="header-right">
        <%= link_to home_french_path do %>
          <%= image_tag "france.png", class:"flag" %>
        <% end %>
           <%= link_to home_spanish_path do %>
          <%= image_tag "spain.png", class:"flag" %>
        <% end %>
      </div>
    </div>
  </header>
  <section class="experience">
    <div class="job">
      <h2>Key Experiences</h2>
      <h3>DOGOURS<%= image_tag "logo.png", class:"image" %></h3>
      <p>Co-founder - 7 months | 2024 - present</p>
      <ul>
        <li>Creation and design of a Ruby on Rails PWA with push notifications, dashboard, instant messaging, etc.</li>
        <li>Development of a Business Plan / Figma / demo video for incubators (104 factory, Station F, etc.)</li>
        <li>Definition of a Marketing and commercial strategy & agreement in principle with BPI funds</li>
      </ul>
      <h3>MARKETPAY<%= image_tag "marketpay.png", class:"image" %></h3>
      <p>Program/Product Owner - 3 years | 2021 - 2023</p>
      <ul>
        <li>Supervision of payment flows, technical and hybrid, for Carrefour</li>
        <li>Full management of the Mulesoft interface / Run - Build</li>
        <li>Management of a team of 5 developers (Senior & Junior) - allocated budget 1.5M€ (OPEX / CAPEX)</li>
        <li>Management of 35 APIs on 2 load balancers maintained by 45 vCores Prod / test environments</li>
        <li>Reconstruction of a CI / CD (JDK - Maven - Github)</li>
        <li>Implementation of an API gateway - ELK type tool</li>
        <li>Management of MarketPay Secrets (SSL certificates, MTLS, etc.)</li>
        <li>Maintenance of Cloudhub & AWS architecture (CPU, storage, security ACLs, etc.)</li>
      </ul>
      <h3>PMU<%= image_tag "pmu.png", class:"image" %></h3>
      <p>Sports & Poker Applications Manager - 2 years | 2019 - 2020</p>
      <ul>
        <li>Management of sports and poker activities Build & Run</li>
        <li>Management of a team of 10 technico-functional people (Onshore & Offshore) - allocated budget 2.5M€ (OPEX / CAPEX)</li>
        <li>Construction and management of the functional and technical backlog of various applications and heavy clients</li>
        <li>Validation and submission of APK - pivot of the relationship with Google / Apple stores</li>
        <li>Dialogue with international partners and monitoring of dependent roadmaps at PMU</li>
        <li>Monitoring of full-scope AWS migration - overall PMU perimeter</li>
      </ul>
      <h3>Disneyland<%= image_tag "disney.png", class:"image" %></h3>
      <p>Agile Coach - 8 months | 2018</p>
      <ul>
        <li>Migration of the DisneylandParis institutional site (D4TH)</li>
        <li>Global budget allocated for the complete site overhaul of 1.5M€</li>
        <li>Management of the product and technical backlog split across 2 squads</li>
        <li>Project management, team facilitation, onshore / offshore management, scheduling</li>
        <li>Design of technical documents (Elasticsearch, flow management, API setup, AJAX calls, etc.)</li>
        <li>Supervision of End To End tests / load tests / security tests</li>
        <li>Big-bang production launch of the site across 5 continents (27 countries)</li>
      </ul>
      <h3>Solocal<%= image_tag "solocal.png", class:"image" %></h3>
      <p>Technical Project Manager (MOE) – 2 years | 2016 - 2018</p>
      <ul>
        <li>Arbitration of client requests and technical feasibility</li>
        <li>Sales tooling for commercial prospecting</li>
        <li>Response to tenders (APHP, SNCF network, etc.)</li>
        <li>Complete supervision of the appointment scheduling / store-locator solution for France's #2 windshield replacement company</li>
        <li>Management of 3 developers, technical guarantor of the SaaS appointment scheduling model</li>
        <li>Implementation of an API Gateway with API key authentication, access to documentation <a href="https://developers.clicrdv.com/"><strong>ICI</strong></a></li>
      </ul>
    </div>
  </section>
  <section class="experience">
    <div class="degree">
      <h2>Education</h2>
      <h3>Diploma</h3>
      <p>Le Wagon - Web Developer Certification | 2024</p>
      <p>Burgundy School of Business - Master in International Marketing, specializing in Entrepreneurship | 2012</p>
      <p>IAE Orléans – Master's in Economics and Social Sciences, specializing in Econometrics | 2011</p>
      <p>IAE Orleans - Bachelor's in Economics and Social Sciences, specializing in Econometrics | 2010</p>
    </div>
  </section>
  <section class="skills">
    <div>
      <h2>Skills</h2>
      <ul>
        <li>General: SCRUM Methodology - Agile SAFE - Kanban</li>
        <li>Tools: Mulesoft (Anypoint Platform & Studio) - Salesforce - Github - Confluence - Jira - Postman - Git Kraken - Visual Studio</li>
        <li>Technologies: DataWeave - JavaScript - Ruby On Rails - SQL Server - PostGreSql - REST API - HTML/CSS</li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="footer-content">
      <div class="footer-left">
        <p><a href="mailto:clavel.antoine@gmail.com"><i class="fa-solid fa-2x fa-envelope email-link"></i></a></p>
        <p><a href="https://www.linkedin.com/in/antoine-clavel-6ba1445a/"><i class="fa-brands fa-2x fa-linkedin email-link"></i></a></p>
        <p><a href="https://github.com/Aclavel4592"><i class="fa-brands fa-2x fa-github email-link"></i></a></p>
        <p><a href="https://dogours.me"><%= image_tag "logo.png", class:"logo"%></a></p>
      </div>
    <div class="footer-right">
      <div class="icon-container">
        <p><i class="fa-solid fa-2x fa-square-phone-flip"></i></p>
      </div>
      <div>
        <p>: 06 16 22 01 30</p>
      </div>
    </div>
  </footer>
</body>
</html>
