<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <div class="header-content">
    <p><%= link_to root_path do %><i class="fa-solid fa-2x fa-igloo home-hover home"></i><% end %>| <i> Antoine CLAVEL </i></p>
      <div class="header-right">
        <%= link_to home_english_path do %>
          <%= image_tag "england.png", class:"flag" %>
        <% end %>
        <%= link_to home_spanish_path do %>
          <%= image_tag "spain.png", class:"flag" %>
        <% end %>
      </div>
    </div>
  </header>
  <section class="experience">
    <div class="job">
      <h2>Expériences Clés</h2>
      <h3>DOGOURS<%= image_tag "logo.png", class:"image" %></h3>
      <p>Co-fondateur - 7 mois | 2024 - actuel</p>
      <ul>
        <li>Création et conception d'une PWA Ruby On Rails avec notifications push, tableau de bord, messagerie instantanée, etc.</li>
        <li>Développement d'un Business Plan / Figma / vidéo de démo pour incubateurs (104 factory, Station F, etc.)</li>
        <li>Définition d'une stratégie Marketing et commerciale & accord de principe avec les fonds BPI</li>
      </ul>
      <h3>MARKETPAY<%= image_tag "marketpay.png", class:"image" %></h3>
      <p>Chef de Programme / Produit Mulesoft - 3 ans | 2021 - 2023</p>
      <ul>
        <li>Supervision des flux de paiement, techniques et hybrides, pour Carrefour</li>
        <li>Gestion complète de l'interface Mulesoft / Run - Build</li>
        <li>Management équipes de 5 développeurs (Senior & Junior) - budget alloué 1.5M€ (OPEX / CAPEX)</li>
        <li>Gestion de 35 API sur 2 load balancers maintenus par 45 vCores Prod / environnements de test</li>
        <li>Reconstruction d'une CI / CD (JDK - Maven - Github)</li>
        <li>Mise en place d'une passerelle API - Outil type ELK</li>
        <li>Gestion des Secrets MarketPay (certificats SSL, MTLS, etc.)</li>
        <li>Maintenance architecture Cloudhub & AWS (CPU, stockage, sécurité ACL, etc.)</li>
      </ul>
      <h3>PMU<%= image_tag "pmu.png", class:"image" %></h3>
      <p>Responsable d'applications Sport & Poker - 2 ans | 2019 - 2020</p>
      <ul>
        <li>Gestion des activités sport et poker Build & Run</li>
        <li>Management d'équipes technico-fonctionnelles de 10 personnes (Onshore & Offshore) - budget alloué 2.5M€ (OPEX / CAPEX)</li>
        <li>Construction et gestion de la backlog fonctionnelle et technique des différentes applications et clients lourds</li>
        <li>Validation et soumission APK - pivot de la relation avec les stores Google / Apple</li>
        <li>Dialogue avec les partenaires internationaux et Suivi des roadmaps dépendantes au PMU</li>
        <li>Suivi de la migration AWS full scope - PMU périmètre général</li>
      </ul>
      <h3>Disneyland<%= image_tag "disney.png", class:"image" %></h3>
      <p>Coach Agile - 8 mois | 2018</p>
      <ul>
        <li>Migration du site institutionnel DisneylandParis (D4TH)</li>
        <li>Budget global alloué pour la réfonte complète du site d'1.5M€</li>
        <li>Gestion de la backlog produit et technique répartie sur 2 squads</li>
        <li>Management de projet, animation des équipes, pilotage onshore / offshore, organisation des plannings</li>
        <li>Conception de documents techniques (Elasticsearch, gestion de flux, mise en place d'API, appels AJAX, etc.)</li>
        <li>Supervision des tests End To End / tests de charge / tests de sécurité</li>
        <li>Lancement en production du site en big-bang sur 5 continents (27 pays)</li>
      </ul>
      <h3>Solocal<%= image_tag "solocal.png", class:"image" %></h3>
      <p>Chef de projet technique (MOE) – 2 ans | 2016 - 2018</p>
      <ul>
        <li>Arbitrages demandes clients et faisabilité technique</li>
        <li>Relai avant-vente de l'outil pour démarchage commercial</li>
        <li>Réponse à appel d'offre (APHP, SNCF réseau, etc.)</li>
        <li>Supervision complète de la refonte de la solution de prise de RDV / Store-locator pour France Pare-brise N2 Français</li>
        <li>Management de 3 développeurs, garant technique du modèle de prise de RDV en SaaS</li>
        <li>Mise en place d’une API Gateway avec clé API d'authentification, accès à la documentation<a href="https://developers.clicrdv.com/"><strong> ICI</strong></a></li>
      </ul>
    </div>
  </section>
  <section class="experience">
    <div>
      <h2>Éducation</h2>
      <h3>Diplôme</h3>
      <p>Le Wagon - Certification Web Developer | 2024</p>
      <p>Burgundy School of Business - Master en Marketing International, spécialité entrepreneuriat | 2012</p>
      <p>IAE Orléans – Maîtrise en Sciences Économiques et Sociales, spécialité économétrie | 2011</p>
      <p>IAE Orleans - Licence en Sciences Économiques et Sociales, spécialité économétrie | 2010</p>
    </div>
  </section>
  <section class="skills">
    <div>
      <h2>Compétences</h2>
      <ul>
        <li>Générales : Méthodologie SCRUM - Agile SAFE - Kanban</li>
        <li>Outils : Mulesoft (Anypoint Platform & Studio) - Salesforce - Github - Confluence - Jira - Postman - Git Kraken - Visual Studio</li>
        <li>Technologies : DataWeave - JavaScript - Ruby On Rails - SQL Server - PostGreSql - API REST - HTML/CSS</li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="footer-content">
      <div class="footer-left">
        <p><a href="mailto:clavel.antoine@gmail.com"><i class="fa-solid fa-2x fa-envelope email-link"></i></a></p>
        <p><a href="https://www.linkedin.com/in/antoine-clavel-6ba1445a/"><i class="fa-brands fa-2x fa-linkedin email-link"></i></a></p>
        <p><a href="https://github.com/Aclavel4592"><i class="fa-brands fa-2x fa-github email-link"></i></a></p>
        <p><a href="https://dogours.me"><%= image_tag "logo.png", class:"logo"%></a></p>
      </div>
      <div class="footer-right">
        <div class="icon-container">
          <p><i class="fa-solid fa-2x fa-square-phone-flip"></i></p>
        </div>
        <div>
          <p>: 06 16 22 01 30</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
